* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header.jsx */

.header {
  background-color: #464646;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div1 {
  width: 60%;
}
.div2 {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.header a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.header a:hover {
  text-decoration: underline;
}

/* Blogpage.jsx */

.blog-container {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.blog-container1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.blog-header {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  width: 100%;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  transition: transform 0.2s, box-shadow 0.2s;
}

.blog-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-title {
  font-size: 1.6rem;
  color: #0077cc;
}

.blog-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.blog-link {
  text-decoration: none;
  color: white;
  background-color: #0077cc;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.blog-link:hover {
  background-color: #005fa3;
}
.blog-details {
  width: 50%;
}
.blog-date {
  padding: 0.7rem 0;
}
.img img {
  height: 100%;
  width: 350px;
}
/* Singleblog.jsx */

.singleblog-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.singleblog-content {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.singleblog-content h1,
.singleblog-content h2,
.singleblog-content h3 {
  color: #0077cc;
  margin-top: 20px;
}

.singleblog-content p {
  margin-bottom: 15px;
}
.singleblog-content img {
  display: block;
  margin: 0 auto;
  height: 400px;
}
.singleblog-content a {
  color: #0077cc;
  text-decoration: none;
}

.singleblog-content a:hover {
  text-decoration: underline;
}

.singleblog-actions {
  margin-top: 20px;
  text-align: right;
}

.share-button {
  background-color: #0077cc;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.share-button:hover {
  background-color: #005fa3;
}

.singleblog-actions {
  margin-bottom: 20px;
}

.suggested-blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.suggested-blogs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  gap: 20px;
}

.suggested-blog-item {
  width: 350px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
}
.also-read {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.suggested-blog-item h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.suggested-blog-item p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.img1 img {
  height: 200px;
  width: 340px;
}
.suggested-blog-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.suggested-blog-link:hover {
  text-decoration: underline;
}

/* Footer.jsx */

.footer {
  background-color: #464646;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}
footer a {
  color: #e7e7ec;
}
pre,
code {
  width: 100%; /* Ensure it takes up the full container width */
  word-wrap: break-word; /* Break long lines for better responsiveness */
  white-space: pre-wrap; /* Allow text wrapping within the block */
  overflow-x: auto; /* Enable horizontal scrolling for overflow */
  color: #ffffff;
  background-color: #545353; /* Optional: Background color for better readability */
  border-radius: 5px; /* Optional: Rounded corners for style */
  padding: 10px; /* Add some padding */
}

pre.language-python,
code.language-python {
  width: 50%; /* Specific width for Python code blocks */
  margin: 0 auto; /* Center-align code blocks */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for style */
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 500px) {
  .header {
    padding: 1.5rem 0;
  }
  .div1 {
    width: 40%;
  }
  .div2 {
    width: 40%;
  }
  .blog-container {
    padding: 0;
  }
  .blog-container1 {
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .blog-item {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
  }
  .blog-details {
    width: 100%;
  }
  .singleblog-container {
    width: 100%;
    padding: 0;
  }
  .singleblog-content {
    padding: 0 2rem;
  }
  .singleblog-actions {
    margin: 2rem 2.5rem;
  }
  .singleblog-content img {
    height: 250px;
  }
  .singleblog-content h1 {
    font-size: 1.6rem;
  }
  .singleblog-content h2 {
    font-size: 1.4rem;
  }
  .singleblog-content h3 {
    font-size: 1.2rem;
  }
  .singleblog-content p {
    font-size: 1rem;
  }
  .suggested-blogs-list {
    width: 100%;
  }
  .footer {
    padding: 2rem 0;
  }
  code {
    width: 50%;
  }
  .language-python {
    width: 50%;
  }
  pre,
  code {
    font-size: 0.8rem;
    line-height: 1.8;
  }
}

@media (max-width: 360px) {
  .div1 h1 {
    font-size: 1.5rem;
  }
  .div2 a {
    font-size: 1.2rem;
  }
  .footer p {
    font-size: 0.8rem;
  }
  .blog-item {
    margin-top: 0;
    padding: 0 1rem;
  }
  .img img {
    width: 300px;
  }
  .blog-title {
    font-size: 1.3rem;
  }
  .blog-date {
    font-size: 1rem;
  }
  .singleblog-content {
    line-height: 1.5;
    margin: 0 1rem;
    padding: 0 1rem;
  }
  .singleblog-content img {
    height: 170px;
  }
  .singleblog-content h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .singleblog-content h2 {
    font-size: 1.3rem;
  }
  .singleblog-content h3 {
    font-size: 1rem;
  }
  .singleblog-content ul {
    font-size: 1rem;
  }
  .singleblog-content li {
    font-size: 1rem;
  }
  .singleblog-content p {
    font-size: 0.8rem;
  }
  .suggested-blogs-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .suggested-blog-item {
    width: 320px;
  }
  .publishh {
    margin: 0.6rem 0;
  }
  .suggested-blog-link {
    font-size: 1.5rem;
  }
  .img1 img {
    height: 160px;
    width: 280px;
  }
  .scroll-to-top {
    bottom: 50px;
    font-size: 15px;
  }
}
